#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: kevinpaz # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC4Y0/f1pQRfA+vztX9IoK8ABho0epMOWng2ucO1r5TEG4FyIBpY8taWAByNZQ2MA+c/qfUb4LPwZkOmSWyTBvRGPfx+Zs1oadWzPD6FF37gbgmQwGYrknPcvoZg/Xjp6y8p/PHUMC9rFHtpqi97gVRJwlGXK3f6mQksVKNGH+pgOreKiCYalfvPlJZlg32rrbutmn1qaHuLN8josrVFiKg+/oDbHEURGYhgegyg06xaEyOsC9iv+oQhCz7CJENAuJJsuKO3BEdKTDsOZ5E5IINuW89dEZqD581NgNzOaexV6TnJ87JaliBzFlUfpka4jeJ5s5E87LDZowGrgW4RAyxa7p3kaFzYGZH8Of+kxs47HZNY+Ug0JpsS+C1e7/6lWM2OtOwEm1l84dd+midZLcoSNdwo1JTDeBLVn1AZ9+WxXc6+M9eWI68Dl/64vaDZaX9KJwX0M3GCMqwLfE/iNVa58DMKVxv9mmtHhY/+akHWKvK2cCLaaWjS+PGvleLfEs= kevinpaz@usrv002
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
